@import '../global.scss';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #292522;
  z-index: 1;
  .board {
    border-radius: 15px;
    background-color: rgb(218, 241, 244);
    .btn {
      border-radius: 5px;
      width: 100%;
    }
    img {
      cursor: pointer;
    }
    .btn-others {
      color: inherit;
      background-color: $blue-third;
    }
  }
}
