* {
  white-space: nowrap;
}
@import '../global.scss';

nav {
  position: fixed;
  top: 0;
  left: 0;
<<<<<<< HEAD
  width: 100vw;
=======
  width: 100%;
>>>>>>> 884e1ed6588308f67dfa2fd3c8d10022a37cbd31
  background-color: $blue-first;
  z-index: 1;
}
