@import './../../../core/global.scss';
.flux-box {
  position: absolute;
  left: 0;
  width: 100%;
}
.btn {
  border-radius: 5px;
  width: 100%;
}
.btn-tendance {
  color: inherit;
  background-color: $azureon;
}

.btn-friend {
  color: inherit;
  background-color: $yorel;
}

.btn-daily {
  color: inherit;
  background-color: $bodel;
}

.btn-style {
  color: inherit;
  background-color: $rendeez;
}
