<!DOCTYPE html>
<app-header></app-header>
<form name="form" (ngSubmit)="login()" ref-f="ngForm">
  <div class="row text-center">
    <div class="col-2">
      <input name="username" placeholder="Username" ref-username="ngModel" [(ngModel)]="model.username">
    </div>
    <div class="col-2">
      <input type="password" placeholder="Password" ref-password="ngModel" name="password" [(ngModel)]="model.password">
    </div>
    <div class="col-1">
      <button>Login</button>
    </div>
  </div>
</form>
<app-footer></app-footer>
