<!DOCTYPE html>
<div class="container navigation-box">
  <div class="row">
    <div (click)="showEcho()" class="col-12 link">
       Echo
    </div>
  </div>
  <div class="row">
    <div (click)="navigate('/my-profile')" class="col-12 link">
       Profile
    </div>
  </div>
  <div class="row">
    <div (click)="navigate('/trusts')" class="col-12 link">
       Trusts
    </div>
  </div>
  <div class="row">
    <div (click)="navigate('/flux')" class="col-12 link">
       Flux
    </div>
  </div>
  <!--<button class="btn btn-others" (click)="logout()">Out</button>-->
</div>
