<!DOCTYPE html>
<div *ngFor="let post of feed$ | async">
  <div class="row">
    <div class="col-3" [ngClass]="postService.getPostTypeStyle(post.type)">
      +{{post.reputation.upvotes}}
      -{{post.reputation.downvotes}}
      {{post.createdOn}}
      {{post.author.fullName}}
    </div>
    <div class="card-body">
      <div [innerHTML]="post.content"></div>
      <button *ngIf="canVote(post.author._id, post.reputation.voters)" (click)="upvote(post._id)">+</button>
      <button *ngIf="canVote(post.author._id, post.reputation.voters)" (click)="downvote(post._id)">-</button>
    </div>
  </div>
</div>
