$azureon: #03b0f5;
$yorel: #0669b2;
$trickle: #044476;
$rendeez: #0a7584;
$bodel: #1e3d56;
$black: #292522;
$green: #68bd90;

@font-face {
  font-family: 'Modum';
  src: url('/assets/font/Modum/Modum.eot?#iefix') format('embedded-opentype'),  url('/assets/font/Modum/Modum.woff') format('woff'), url('/assets/font/Modum/Modum.ttf')  format('truetype'), url('/assets/font/Modum/Modum.svg#Modum') format('svg');
  font-weight: normal;
  font-style: normal;
}

.modum {
  font-family: 'Modum';
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('/assets/font/Roboto/Roboto-Regular.woff') format('woff'), url('/assets/font/Roboto/Roboto-Regular.ttf')  format('truetype'), url('/assets/font/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
