<!DOCTYPE html>
<div class="container-fluid content">
  <app-header></app-header>
  <div class="row">
    <div class="col-12">
      Your trusts
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Owned trusts
    </div>
    <div class="col-4">
      Trust 1
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Joined trusts
    </div>
    <div class="col-4">
      Trust 1
    </div>
    <div class="col-4">
      Trust 2
    </div>
    <div class="col-4">
      Trust 3
    </div>
  </div>
  <app-footer></app-footer>
</div>
