@import './../../core/global.scss';
.login {
  background-color: $azureon;
  em {
    font-family: 'Modum';
    font-style: normal;
    font-size: 30px;
  }
  button {
    border-radius: 50% !important;
    &:focus {
      outline: none;
    }
  }

  .header {
    background-color: $black;
    button {
      padding: 10px;
      font-size: 12px;
      line-height: 12px;
      margin: 5px 0;
    }
  }

  .background {
    position: relative;
    width: 100%;
    background-image: url("/assets/img/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::before {
      content: "";
      position: absolute;
      top: 0; right: 0;
      bottom: 0; left: 0;
      background: url("/assets/img/ballon.jpg") no-repeat top center;
      opacity: 0.5;
    }
    .blocks {
      height: 1080px;
      .banner {
        background-color: $black;
        line-height: 4rem;
        $border-size: 15px;
        //border-top: $border-size solid $azureon;
        //border-right: $border-size solid $yorel;
        //border-bottom: $border-size solid $bodel;
        //border-left: $border-size solid $rendeez;
        em {
          font-family: 'Modum';
          font-style: normal;
          font-size: 60px;
        }
      }
      img {
        opacity: 0.3;
      }
      .body {
        .block {
          padding: 10px 20px;
          margin-bottom: 20px;
          background-color: $rendeez;
          line-height: 20px;
          border-radius: 5px;
          opacity: 0.9;
          h3 {
            border-bottom: #ccc solid 1px;
            span {
              color: #ccc;
              cursor: pointer;
              -webkit-user-select: none; /* Safari */
              -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* IE10+/Edge */
              user-select: none; /* Standard */
            }
            .clickit {
              padding: 0 7px;
              border-radius: 100%;
              border: $yorel 2px solid;
            }
          }
          p {
            padding: 10px;
            margin-top: 20px;
          }
          th {
            font-family: 'Modum';
            font-size: 24px;
          }
          th, td {
            background-color: $black;
            text-align: center;
            vertical-align: middle;
            padding: 10px 30px;
          }
        }
      }
    }
  }
  .subscribe {
    .header {
      background: none;
    }
    border-radius: 5px;
    padding: 20px 40px 20px 20px;
    background-color: $rendeez;
    button {
      height: 100px;
      font-size: 30px;
      line-height: 30px;
    }
  }
}
