/* You can add global styles to this file, and also import other style files */
@import 'app/global.scss';
*:focus {
    outline: none;
}
body {
  color: white !important;
  font-family: 'Roboto-Regular' !important;
}
button {
  cursor: pointer;
}
.btn-others {
  color: white;
  background-color: $trickle;
}

.content {
  margin-top: 80px;
}

input, button {
  border-radius: 25px !important;
}

input:focus, button:focus {
  box-shadow: 0 0 3pt 2pt $yorel;

  outline: none;
  text-decoration: none;
  text-align: center;
}
