/* You can add global styles to this file, and also import other style files */
@import 'app/global.scss';
button {
  border-radius: 25px;
  width: 100%;
  font-size: 12px !important;
}
.btn-others {
  color: white;
  background-color: $blue-third;
}

.content {
  background-color: rgb(218, 241, 244);
  margin-top: 80px;
}

input, button {
  border-radius: 25px !important;
}

input:focus, button:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt $blue-third;
}
